[Desktop Entry]
Name=ARB
Exec=arb %f
Icon=arb.png
Type=Application
Categories=Science;Biology
Terminal=false
Comment=Visit http://www.arb-home.de
MimeType=application/x-arb
Keywords=sequence;phylogeny;dna;rna;taxonomy;gene;16S;SSU;LSU;rRNA;probe design;
